<h2>Editing Book</h2>
<% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this book from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice] %>
 <div class="flash">
  <%= flash[:notice] %>
 </div>
<% end %>

<%= form_with model:@book, local: true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Body</p>
<%= f.text_area :body %>

<br><%= f.submit 'Update Book' %></br>
<% end %>

<span>
<%= link_to "Show", book_path %> | <%= link_to "Back", books_path %>
</span>